.input-box {
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    width: 600px; /* Adjust width as needed */
    margin: 0 auto; /* Center the box horizontally */
    padding: 20px; /* Add padding for spacing */
    border: 2px solid black; /* Add border for visualization */
    background-color: white;
    margin-top: 80px;
    border-radius: 12px;
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}

.whole-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#colorButton:hover {
    background-color: #6495ED; /* Background color on hover */
    cursor: pointer;
}

button {
    width: 250px; /* Adjust width of the button */
    height: 40px;
    align-self: center; /* Center the button within the flex container */
    margin-top: 20px; /* Add some spacing between the inputs and the button */
    border-radius: 6px;
    background-color: cadetblue;
    color: white;
    border: none;
}

body {
    background-image: url(joshua-sortino-f3uWi9G-lus-unsplash.jpg);
    background-size: cover; /* Adjusts the size of the background image to cover the entire html */
    background-repeat: no-repeat;
    font-family: monospace;
}

label, input {
    width: 100%; /* Make both label and input occupy full width */
    box-sizing: border-box; /* Include padding and border in the width */
    margin-bottom: 10px; /* Add some vertical spacing between each label-input pair */
}

.praisePhoto {
    color: white;
    position: fixed; /* Position the element relative to the browser window */
    bottom: 0; /* Align to the bottom */
    right: 0; /* Align to the right */
    margin: 20px; /* Add some margin to create space from the edges */
}

.odinLogo {
    height: 100px;
}